* {
  box-sizing: border-box;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(39, 40, 41);
}

.container {
  max-width: 35em;
  margin: auto;
  margin-top: 6em;
  padding: 2em;
  border-radius: 0.5em;
  background-color:#f5eded;
    
}

